/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */



html {
  /*-- Main font sizes --*/
  --title-size:      40px;
  --body-size:       18px;
  --code-size:       16px;
  --aside-size:      12px;
  --fig-cap-size:    13px;
  /*-- Main font colors --*/
  --title-color:     #000000;
  --header-color:    rgba(0, 0, 0, 0.8);
  --body-color:      rgba(0, 0, 0, 0.8);
  --aside-color:     rgba(0, 0, 0, 0.6);
  --fig-cap-color:   rgba(0, 0, 0, 0.6);
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    sans-serif;
  --mono-font:       monospace;
  --body-font:       sans-serif;
  --navbar-font:     sans-serif;  /* websites + blogs only */
}

/*-- ARTICLE METADATA --*/
d-byline {
  --heading-size:    0.6rem;
  --heading-color:   rgba(0, 0, 0, 0.5);
  --body-size:       0.8rem;
  --body-color:      rgba(0, 0, 0, 0.8);
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size:    18px;
  --contents-size:   13px;
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size:    15px;
  --heading-color:   rgba(0, 0, 0, 0.65);
  --text-size:       0.8em;
  --text-color:      rgba(0, 0, 0, 0.5);
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header {
  --title-size:       25px;
  --text-color:       rgba(255, 255, 255);
  --text-size:        20px;
  --hover-color:      white;
  --bkgd-color:       #14213D;
}

.distill-site-footer {
  --text-color:       rgba(255,255,255);
  --text-size:        15px;
  --hover-color:      white;
  --bkgd-color:      #14213D;
}

/*-- Additional custom styles --*/
/* Add any additional CSS rules below                      */

h1 {
  color: #EB2F96;;
  font-size: 36px;
}

d-article h1 {
  color: #C34A79 !important;
  font-size: 38px;
  line-height: 1em;
}

/*change buttons on homepage*/
.btn-outline-dark {
    background-color: transparent; 
    color: rgba(0, 0, 1);
    border: 1px solid;
    border-color: rgba(0, 0, 1);
}

.btn-outline-dark:hover {
    background-color: rgba(247, 37, 133);
    border-color: rgba(247, 37, 133);
    color: white;
}

/* remove scroll bar on right hand side */
.d-flex{
  overflow-y: hidden !important;
}

.timeline-Widget{
  width: 40%;
  min-width: 200px;
  max-width: 500px;
}


.contributor_org {
  font-family: "Amaranth" !important;
  font-size: 25px;
  text-decoration: none;
  background-color: transparent;
}

.contributor_ppl{
  font-family: "Open Sans" !important;
  font-size: 20px;
}

/*do not delete - this removes the scroll bar on the right hand side*/
.vh-100 {
  height: 80vh!important;
}

.thumbnail {
    padding: 0px!important;
    margin: 0px!important;
    max-width: 10%!important;
    height: auto!important;
    vertical-align: text-top!important;
}


.license {
  color: #01161E;
  font-size: 14px !important;
  margin-left: 50px;
  margin-right: 60px;
}

/*single space for the lists*/
d-article li {
    margin-bottom: 0em;
}

.justify-text {
  text-align: justify;
}

/* 自定义代码块样式 */
.custom-code-block {
  background-color: #EDF2F4;
}

